* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: clamp(14px, 1vw, 18px);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: rgb(234, 246, 246);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  max-width: 1600px;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  border-radius: 0.5rem;
  width: 100%;
  display: block;
}
main section.view1 .bottom {
  background-color: #1c1b1b;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}
main section.view1 .bottom .text-meta {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  font-size: small;
}
main section.view1 .bottom .text-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
main section.view1 .bottom .text-content h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view1 .bottom .text-content p {
  color: rgba(244, 242, 237, 0.6);
  line-height: 1.7;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}
main section.view1 .bottom .text-content button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background-color: #f4f2ed;
  color: #121212;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
main section.view1 .bottom .text-content button:hover {
  background-color: #121212;
  color: #f4f2ed;
  border: 1px solid #f4f2ed;
}
main section.view2 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  align-items: center;
}
main section.view2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
main section.view2 .container small {
  letter-spacing: 1px;
  font-size: medium;
  text-transform: uppercase;
  color: rgba(244, 242, 237, 0.6);
}
main section.view2 .container h2 {
  font-size: 2.8rem;
  font-weight: 400;
}
main section.view2 .first {
  display: flex;
  gap: 7rem;
}
main section.view2 .second {
  display: flex;
  gap: 5.7rem;
}
main section.view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  border-radius: 0.5rem;
  width: 100%;
  display: block;
}
main section.view3 .bottom {
  background-color: #1c1b1b;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 0.5rem;
  padding: 2rem;
  justify-content: space-between;
}
main section.view3 .bottom .text-meta {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  font-size: small;
}
main section.view3 .bottom .text-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
main section.view3 .bottom .text-content h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view3 .bottom .text-content .para {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main section.view3 .bottom .text-content .para p {
  color: rgba(244, 242, 237, 0.6);
  line-height: 1.7;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
main section.view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
main section.view4 .top {
  width: 100%;
}
main section.view4 .top img {
  border-radius: 0.5rem;
  width: 100%;
  display: block;
}
main section.view4 .bottom {
  background-color: #1c1b1b;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 0.5rem;
  padding: 2rem;
  justify-content: space-between;
}
main section.view4 .bottom .text-meta {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  font-size: small;
}
main section.view4 .bottom .text-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
main section.view4 .bottom .text-content h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view4 .bottom .text-content .para {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main section.view4 .bottom .text-content .para p {
  color: rgba(244, 242, 237, 0.6);
  line-height: 1.7;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
    gap: 0.8rem;
  }
  main section.view1 .top, main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 2.5rem 3rem;
  }
  main section.view1 .bottom .text-content h1 {
    font-size: 3.8rem;
    font-weight: 300;
  }
  main section.view1 .bottom .text-content p {
    font-weight: 200;
  }
}
@media (min-width: 900px) {
  main section.view2 {
    flex-direction: row;
    justify-content: space-evenly;
  }
  main section.view2 .first {
    gap: 11rem;
  }
  main section.view2 .second {
    gap: 11rem;
  }
  main section.view2 .container h2 {
    font-size: 3rem;
    font-weight: 400;
  }
}
@media (min-width: 900px) {
  main section.view3 {
    flex-direction: row-reverse;
    gap: 0.8rem;
  }
  main section.view3 .top, main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 2.5rem 3rem;
  }
  main section.view3 .bottom .text-content .para {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
  main section.view3 .bottom .text-content h1 {
    font-size: 2.5rem;
  }
  main section.view3 .bottom .text-content p {
    font-weight: 200;
  }
}
@media (min-width: 900px) {
  main section.view4 {
    flex-direction: row;
    gap: 0.8rem;
  }
  main section.view4 .top, main section.view4 .bottom {
    width: 50%;
  }
  main section.view4 .bottom {
    justify-content: space-between;
    padding: 2.5rem 3rem;
  }
  main section.view4 .bottom .text-content .para {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
  main section.view4 .bottom .text-content h1 {
    font-size: 2.5rem;
  }
  main section.view4 .bottom .text-content p {
    font-weight: 200;
  }
}/*# sourceMappingURL=style.css.map */