* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	font-size: clamp(14px,1vw,18px);
}
body{
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #121212;
	
	color: rgb(234, 246, 246);
}

@mixin flex-column($gap: 0rem){
	display: flex;
	flex-direction: column;
	gap: $gap;
}



main{
	width: 100%;
	@include flex-column();
	align-items: center;
	max-width: 1600px;

	section.view1{
		width: 100%;
		@include flex-column(1rem);
		padding: 1rem;
   
		.top{
			
			width: 100%;

			img{
			    border-radius: 0.5rem;	
				width: 100%;
				display: block;
			}
		
		}
		.bottom{
			background-color: #1c1b1b;
			width: 100%;
			@include flex-column(2.5rem);
			border-radius: 0.5rem;
			padding: 2rem 1.5rem;
			
           

			.text-meta{
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-family: sans-serif;
				font-weight: 600;
				font-size: small;
			}
			.text-content{
				@include flex-column(1.2rem);
				h1{
					font-weight: 400;
					font-size: 2.5rem;
					text-transform: uppercase;
				}
				p{  
					
					color : rgba(244, 242, 237, .6);
					line-height: 1.7;
					font-size: 1.2rem;
					font-weight: 400;
					letter-spacing: 1px;
				}
				
				button{
					width: fit-content;
					padding: .5rem .8rem;
					font-size: 1rem;
					font-weight: 600;
					letter-spacing: 1px;
					text-transform: uppercase;
					border: none;
					outline: none;
					border-radius: 0.3rem;
					background-color: #f4f2ed;
					color: #121212;
					cursor: pointer;
					transition: background-color 0.3s, color 0.3s;

					&:hover{
						background-color: #121212;
						color: #f4f2ed;
						border: 1px solid #f4f2ed;
					}
				}
			}
		}

	}
	section.view2{
		width: 100%;
		padding: 1rem;
		@include flex-column(1.7rem);
		align-items: center;
		
		.container{
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: .3rem;
			

			small{
				letter-spacing: 1px;
				font-size: medium;
				text-transform: uppercase;
				color: rgba(244, 242, 237, .6);
			}
			h2{
				font-size: 2.8rem;
				font-weight: 400;
			}
		}

		.first{
			display: flex;
			gap: 7rem;
		}
		.second{
			display: flex;
			gap: 5.7rem;
		}
	}
	section.view3{
		width: 100%;
		@include flex-column(1rem);
		padding: 1rem;
		
   
		.top{
			
			width: 100%;

			img{
			    border-radius: 0.5rem;	
				width: 100%;
				display: block;
			}
		
		}
		.bottom{
			background-color: #1c1b1b;
			width: 100%;
			@include flex-column(2.5rem);
			border-radius: 0.5rem;
			padding: 2rem ;
			justify-content: space-between;
           

			.text-meta{
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-family: sans-serif;
				font-weight: 600;
				font-size: small;
			}
			.text-content{
				@include flex-column(1.2rem);
				h1{
					font-weight: 400;
					font-size: 2.5rem;
					text-transform: uppercase;
				}
				.para{
					@include flex-column();

					p{  
						color : rgba(244, 242, 237, .6);
						line-height: 1.7;
						font-size: 1.1rem;
						font-weight: 400;
						letter-spacing: 1px;
					}
				}
			}
		}
	}
	section.view4{
		width: 100%;
		@include flex-column(1rem);
		padding: 0.5rem 1rem;
   
		.top{
			
			width: 100%;

			img{
			    border-radius: 0.5rem;	
				width: 100%;
				display: block;
			}
		
		}
		.bottom{
			background-color: #1c1b1b;
			width: 100%;
			@include flex-column(2.5rem);
			border-radius: 0.5rem;
			padding: 2rem ;
			justify-content: space-between;
           

			.text-meta{
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-family: sans-serif;
				font-weight: 600;
				font-size: small;
			}
			.text-content{
				@include flex-column(1.2rem);
				h1{
					font-weight: 400;
					font-size: 2.5rem;
					text-transform: uppercase;
				}
				.para{
					@include flex-column();

					p{  
						color : rgba(244, 242, 237, .6);
						line-height: 1.7;
						font-size: 1.1rem;
						font-weight: 400;
						letter-spacing: 1px;
					}
				}
			}
		}

	}
}

@media (min-width:900px){
	main{
		section.view1{
			flex-direction: row;
			gap: 0.8rem;
		    .top,.bottom{
				width: 50%;
			}
			.bottom {
				justify-content: space-between;
				padding: 2.5rem 3rem;
				
				.text-content{
					h1{
						font-size: 3.8rem;
						font-weight: 300;
					}
					p{
						font-weight: 200;
					}
				}


			}
	   }
	}
}

@media (min-width:900px){
	main{
		
		section.view2{
			flex-direction: row;
			justify-content: space-evenly;
			.first{
				gap: 11rem;
			}
			.second{
				gap:11rem;
			}
			.container{
				h2{
				font-size: 3rem;
				font-weight: 400;
			}
			}
		}
	}
}
@media (min-width:900px){
	main{
		section.view3{
			flex-direction: row-reverse;
			gap: 0.8rem;
		    .top,.bottom{
				width: 50%;
			}
			.bottom {
				justify-content: space-between;
				padding: 2.5rem 3rem;
				
				.text-content{
					.para{
						display: flex;
						flex-direction: row-reverse;
						gap: 0.5rem;
					}
					h1{
						font-size: 2.5rem;
					}
					p{
						font-weight: 200;
					}
				}


			}
	   }
	}
}
@media (min-width:900px){
	main{
		section.view4{
			flex-direction: row;
			gap: 0.8rem;
		    .top,.bottom{
				width: 50%;
			}
			.bottom {
				justify-content: space-between;
				padding: 2.5rem 3rem;
				
				.text-content{
					.para{
						display: flex;
						flex-direction: row-reverse;
						gap: 0.5rem;
					}
					h1{
						font-size: 2.5rem;
					}
					p{
						font-weight: 200;
					}
				}


			}
	   }
	}
}


